click==8.1.8
cmapy==0.6.6
do_mpc==4.6.5
filterpy==1.4.5
matplotlib==3.10.0
numpy==2.2.2
opencv_contrib_python==4.11.0.86
pandas==2.2.3
Pillow==11.1.0
pygame==2.6.1
sam2==1.1.0
scikit_learn==1.6.1
scipy==1.15.1
setuptools==59.6.0